.contact {
    padding: 115px 0 120px;
    
	background-position:center;
	background-size: cover;
	position: relative;
    z-index: 3;
}
.path-frontpage .contact, .contact{
    background:url(../assets/map.jpg)no-repeat;
}
.path-frontpage .contact:before{
    background:rgba(24,172,255,.6);
}
.contact:before{
	background:rgba(24,172,255,.6);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	content:'';
    z-index: -1;
    
}
#two{
	color: #f9faff;
}

/*contact-head */
.section-header.contact-head h2,
.section-header.contact-head p{
	position: relative;
	color: #fff;
}
.contact-form h3{
	color: #fff;
	font-size: 24px;
	font-family:( --font-family);
	text-transform:capitalize;
	margin-bottom:40px;
}
/*contact-head */

.contact-content {
    padding: 0 0 0 0;
	margin-top: 30px;
	overflow:hidden;

}
.contact-form {
	position: relative;
	margin: 50px 0 0 0;
	
}
.contact-form  .form-group {
    margin-bottom: 15px;
	
}
.contact-form .form-control {
	padding: 24px 21px;
	font-size: 16px;
	border: 1px solid #f9faff;
    border-radius: 0px;
    box-shadow: none;
	outline:0!important;
    background:#f9faff;
    color: #888;
	resize: none;
    margin-bottom: 20px;
}
.contact-form .form-group {
    padding-bottom:7px;
}

/*--contct button--*/
.contact-form .single-contact-btn button{
	display:flex;
	align-items:center;
	justify-content:center;
	background: var(--color);
	height:50px;
	width: 195px;
	border:1px solid #18ACFF;
	text-transform:uppercase;
font-family:( --font-family);
	margin-top: 3px;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
}
.contact-form .single-contact-btn button.contact-btn ,
.contact-form .single-contact-btn button.contact-btn:focus {
    margin-top:0px;
    outline: 0 !important;
    border:0;
    color: #fff;
    letter-spacing: 2.5px;
    border-radius: 0px;
    font-size:14px;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	
}

.single-contact-btn:hover button.contact-btn {
	color:var(--color);
	background:#fff;
	border:1px solid #18ACFF;
}

/*--contct button--*/

/* contact-right */
.contact-right {
    display: flex;
}

/* contact-adress */
.contact-adress {
    margin: 68px 0 0px;
	padding-left: 100px;
	display:flex;
	
	flex-direction: column;
}
.contact-office-address {
    margin-bottom: 18px;

}
.contact-office-address h3{
	color: #333;
	font-size: 24px;
font-family:( --font-family);
	text-transform:capitalize;
}
.contact-office-address p{
	color: #333;
	font-size: 16px;
	margin-bottom: 14px;
font-family:( --font-family);
font-weight:300;
	margin-top: 30px;
	margin-bottom: 50px;
}

#address{
    /* color:rgb(188, 59, 59); */
    color:white;
	font-size: large;
	font-family:Arial, Helvetica, sans-serif
    /* background-color: rgb(25, 244, 244); */
}
.contact-online-address{
	color:#333;
	font-size: 16px;
	font-size: large;
	font-family:Arial, Helvetica, sans-serif
}
.contact-office-address a {
    color: #fff;
    text-decoration: underline;
}
.contact-office-address h3, .contact-office-address p,.contact-online-address {
    color:white;
}
.single-online-address {
	position:relative;
	margin-bottom: 30px;
}
.single-online-address i {
    padding-right: 7px;
}
.single-online-address span{
  position:absolute;
  font-size: 16px;
  left:25px;
  top:0;
  width:100%;
}/* contact-adress */

/*hm-foot-icon*/
.contact-icon {
    margin-top:19px;
    
}
/* .contact-icon ul li{float:left;} */
.contact-icon ul>a {
	color: #fff;
	padding:6px;
	/* margin-right:13px; */
	padding: 0px 12px 0px 0px;
	-webkit-transition: .3s; 
	-moz-transition:.3s; 
	-ms-transition:.3s; 
	-o-transition:.3s;
    transition: .3s;
    gap:10px;
}/*contact-icon*/

/* contact-right */
#send{
	display: flex;
	justify-content: end;
	

}
#button{
	border: none;
	background-color: #18ACFF;
	color:#f9faff;
	padding: 15px;
}